<div class="box-footer box-comments">
    {% for commentaire in commentaires %}
        {% if commentaire.publication == publication %}
            <div class="box-comment">

                <!-- Photo de profil de l'utilisateur -->
                <img class="img-circle img-sm" src="{{ asset('uploads/photo/' ~ commentaire.user.image.fichier|slice(27,37) )  }}" alt="User Image" >
                <div class="comment-text">
                              <span class="username">
                                {{ commentaire.user.username }}
                                <span class="text-muted pull-right">{{ publication.datePublication|date('d-m-Y') }}
                                    {% include 'modif_commentaire.html.twig' %}
                                </span>

                              </span>
                    <!-- /.username -->
                    {{ commentaire.text }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{# Traitement d'un nouveau commentaire #}
<form id="js-form" class="js-form" action=" {{ path('commentaire' , {'id' : publication.id}) }} " method="post">
    <input class="form-control" type="text" name="commentaire" placeholder="Type a comment">
    <input onclick="onClickBtnCommentaire(event)" class="js-button btn btn-primary btn-flat" type="submit" value="Commenter" name="envoiCommentaire" >
</form>






