{% extends 'base.html.twig' %}

{% block content %}
    <div class="container mt-4">
        <div align="center">
        <h1>Liste d'ami</h1>
        </div>
        {% if mesAmis is empty %}
        <h3>Ajouter des amis</h3>
        {% else %}
            {% for ami in mesAmis %}
                <div class="col-md-4">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-aqua-active">
                            <h3 class="widget-user-username">{{ ami.firstname }} {{ ami.lastname }}</h3>
                        </div>
                        <div class="widget-user-image">
                            <a href="{{ path('profil',{'id':ami.id}, {'username': ami.getUsername() }) }}"
                               class="pull-left">
                                <img src="{{ asset('uploads/photo/' ~ ami.image.fichier|slice(27,37) ) }}"
                                     alt="{{ ami.getUsername() }}" class="media-object">
                            </a>
                        </div>
                        <div class="widget-user-username " align="center">
                            <a href="{{ path('profil',{'id':ami.id}) }}">Voir profil</a>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">Pays</h5>
                                        <span class="description-text">{{ ami.country }}</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">Ville</h5>
                                        <span class="description-text">{{ ami.city }}</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header">Pseudo</h5>
                                        <span class="description-text">{{ ami.username }}</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
            {% endfor %}
        {% endif %}


         {#   {% if friends is empty %}
                <p>Pas d'ami</p>
            {% else %}
                {% for user in friends %}
                    {{ user.username}}
                {% endfor %}
            {% endif %}
           {# {{dump(users)}}
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.id }}</td>

                </tr>
            {% endfor %}#}

    </div>

{% endblock %}