{# Traitement correspondant à une nouvelle publication #}
<div class="box box-info">
    <div class="box-body">

        {{ form_start(form, {'method': 'post', 'action': path('homepage'), 'attr': {'class': ''}}) }}

        <div class="form-group has-feedback">
            {{ form_widget(form.contenu, {'attr': {'class': 'form-control' , 'placeholder': 'Exprimez-vous'}  }) }}
        </div>

        <div class="form-group has-feedback">
            {{ form_label(form.image,"Ajouter une photo : ", {'attr' : {'class' : 'form-control '}}) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.image) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>