{% extends 'base.html.twig' %}

{% block content %}
{% include 'publication.html.twig' %}

    {% for publication in publications %}

        <!-- Box Comment -->
        <div class="box box-widget">
            <div class="box-header with-border">
                <div class="user-block">
                    <img class="img-circle" src="{{ asset('templates/dist/img/user1-128x128.jpg') }}" alt="User Image">
                    <span class="username"><a href="#">{{ publication.user.username }}</a></span>
                    <span class="description">Shared publicly - {{ publication.datePublication|date('d-m-Y') }}</span>
                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                        <i class="fa fa-circle-o"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">


                <p>{{ publication.contenu }} </p>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                <span class="pull-right text-muted">127 likes - 3 comments</span>
            </div>
            <!-- /.box-body -->
            <div class="box-footer box-comments">
                {#
                {% for commentaire in commentaires %}
                    {% if commentaire.publication == publication %}
                        <div class="box-comment">
                            <!-- User image -->
                            <img class="img-circle img-sm" src="{{ asset('templates/dist/img/user3-128x128.jpg') }}" alt="User Image">

                            <div class="comment-text">
                              <span class="username">
                                {{ commentaire.user.username }}
                                <span class="text-muted pull-right">{{ publication.datePublication|date('d-m-Y') }}</span>
                              </span><!-- /.username -->
                                {{ commentaire.text }} {{ commentaire.user.username }}
                            </div>
                            <!-- /.comment-text -->
                        </div>
                    {% endif %}
                {% endfor %}#}

            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
                <form action="#" method="post">
                    <img class="img-responsive img-circle img-sm" src="{{ asset('templates/dist/img/user4-128x128.jpg') }}" alt="Alt Text">
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push">
                        <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                    </div>
                </form>
            </div>
            <!-- /.box-footer -->
        </div>
    {% endfor %}



{% endblock %}