{% extends 'base.html.twig' %}

{% block content %}

    <div class="post">
        <div class="user-block">
            <img class="img-circle img-bordered-sm" src="{{ asset('templates/dist/img/user6-128x128.jpg') }}" alt="User Image">
            <span class="username">
                          <a href="#">Adam Jones</a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
            <span class="description">Posted 5 photos - 5 days ago</span>
        </div>
        <!-- /.user-block -->
        <div class="row margin-bottom">
            <div class="col-sm-6">
                <img class="img-responsive" src="{{ asset('templates/dist/img/photo1.png') }}" alt="Photo">
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="img-responsive" src="{{ asset('templates/dist/img/photo2.png') }}" alt="Photo">
                        <br>
                        <img class="img-responsive" src="{{ asset('templates/dist/img/photo3.jpg') }}" alt="Photo">
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <img class="img-responsive" src="{{ asset('templates/dist/img/photo4.jpg') }}" alt="Photo">
                        <br>
                        <img class="img-responsive" src="{{ asset('templates/dist/img/photo1.png') }}" alt="Photo">
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <ul class="list-inline">
            <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
            <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
            </li>
            <li class="pull-right">
                <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments
                    (5)</a></li>
        </ul>

        <input class="form-control input-sm" type="text" placeholder="Type a comment">
    </div>


    <div class="row">
        <div class="col-md-6">
            <!-- Box Comment -->
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" src="{{ asset('templates/dist/img/user1-128x128.jpg') }}" alt="User Image">
                        <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                        <span class="description">Shared publicly - {{ publication.datePublication|date('d-m-Y') }}</span>
                    </div>
                    <!-- /.user-block -->
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                            <i class="fa fa-circle-o"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img class="img-responsive pad" src="{{ asset('templates/dist/img/photo2.png') }}" alt="Photo">

                    <p>{{ publication.contenu }}</p>
                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                    <span class="pull-right text-muted">127 likes - 3 comments</span>
                </div>
                <!-- /.box-body -->
                <div class="box-footer box-comments">
                    <div class="box-comment">
                        <!-- User image -->
                        <img class="img-circle img-sm" src="{{ asset('templates/dist/img/user3-128x128.jpg') }}" alt="User Image">

                        <div class="comment-text">
                      <span class="username">
                        Maria Gonzales
                        <span class="text-muted pull-right">{{ publication.datePublication|date('d-m-Y') }}</span>
                      </span><!-- /.username -->
                            It is a long established fact that a reader will be distracted
                            by the readable content of a page when looking at its layout.
                        </div>
                        <!-- /.comment-text -->
                    </div>
                    <!-- /.box-comment -->
                    <div class="box-comment">
                        <!-- User image -->
                        <img class="img-circle img-sm" src="{{ asset('templates/dist/img/user4-128x128.jpg') }}" alt="User Image">

                        <div class="comment-text">
                      <span class="username">
                        Luna Stark
                        <span class="text-muted pull-right">{{ publication.datePublication|date('d-m-Y') }}</span>
                      </span><!-- /.username -->
                            {{ publication.contenu }}
                        </div>
                        <!-- /.comment-text -->
                    </div>
                    <!-- /.box-comment -->
                </div>
                <!-- /.box-footer -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <img class="img-responsive img-circle img-sm" src="{{ asset('templates/dist/img/user4-128x128.jpg') }}" alt="Alt Text">
                        <!-- .img-push is used to add margin to elements next to floating images -->
                        <div class="img-push">
                            <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                        </div>
                    </form>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
            <!-- Box Comment -->
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" src="{{ asset('templates/dist/img/user1-128x128.jpg') }}" alt="User Image">
                        <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                        <span class="description">Shared publicly - {{ publication.datePublication|date('d-m-Y') }}</span>
                    </div>
                    <!-- /.user-block -->
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                            <i class="fa fa-circle-o"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- post text -->
                    <p>{{ publication.contenu }}</p>

                    <!-- Attachment -->
                    <div class="attachment-block clearfix">
                        <img class="attachment-img" src="{{ asset('templates/dist/img/photo1.png') }}" alt="Attachment Image">

                        <div class="attachment-pushed">
                            <h4 class="attachment-heading"><a href="http://www.lipsum.com/">Lorem ipsum text generator</a></h4>

                            <div class="attachment-text">
                                {{ publication.contenu }} <a href="#">more</a>
                            </div>
                            <!-- /.attachment-text -->
                        </div>
                        <!-- /.attachment-pushed -->
                    </div>
                    <!-- /.attachment-block -->

                    <!-- Social sharing buttons -->
                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                    <span class="pull-right text-muted">45 likes - 2 comments</span>
                </div>
                <!-- /.box-body -->
                <div class="box-footer box-comments">
                    <div class="box-comment">
                        <!-- User image -->
                        <img class="img-circle img-sm" src="{{ asset('templates/dist/img/user3-128x128.jpg') }}" alt="User Image">

                        <div class="comment-text">
                      <span class="username">
                        Maria Gonzales
                        <span class="text-muted pull-right">{{ publication.datePublication|date('d-m-Y') }}</span>
                      </span><!-- /.username -->
                            {{ publication.contenu }}.
                        </div>
                        <!-- /.comment-text -->
                    </div>
                    <!-- /.box-comment -->
                    <div class="box-comment">
                        <!-- User image -->
                        <img class="img-circle img-sm" src="{{ asset('templates/dist/img/user5-128x128.jpg') }}" alt="User Image">

                        <div class="comment-text">
                      <span class="username">
                        Nora Havisham
                        <span class="text-muted pull-right">{{ publication.datePublication|date('d-m-Y') }}</span>
                      </span><!-- /.username -->
                            {{ publication.contenu }}
                        </div>
                        <!-- /.comment-text -->
                    </div>
                    <!-- /.box-comment -->
                </div>
                <!-- /.box-footer -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <img class="img-responsive img-circle img-sm" src="{{ asset('templates/dist/img/user4-128x128.jpg') }}" alt="Alt Text">
                        <!-- .img-push is used to add margin to elements next to floating images -->
                        <div class="img-push">
                            <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                        </div>
                    </form>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

{% endblock %}