{% extends 'baseOrConnexion.html.twig' %}

{% block content %}

    <img src="/2018-l3ac1/branches/Publish/web/templates/dist/img/logo.png" class="logo-check-email" alt="logo">

    <div class="box-body">
        <div class="callout callout-info">
            <p>{{ user.email }}</p>
        </div>
    </div>
    <div class="box-body">
        <div class="callout callout-info">
            <p>{{ user.email }}</p>
        </div>
    </div>
    <div class="box-body">
        <div class="callout callout-info">
            <p>{{ user.email }}</p>
        </div>
    </div>
    <div class="box-body">
        <div class="callout callout-info">
            <p>{{ user.email }}</p>
        </div>
    </div>
    <div class="box-body">
        <div class="callout callout-info">
            <p>{{ user.email }}</p>
        </div>
    </div>

{% endblock %}